<a>会員情報編集</a>

<%= form_with model: @public do |customer| %>

  <table>
    <tr>
      <td>
        氏名
      </td>
      <td>
       <%= customer.text_area :first_name %> <%= customer.text_area :family_name %>
      </td>
    </tr>

    <tr>
     <td>
      フリガナ
     </td>
     <td>
      <%=  customer.text_area :first_name_kana %> <%= customer.text_area :family_name_kana %>
     </td>
    </tr>

     <tr>
      <td>
        郵便番号
      </td>
      <td>
       <%= customer.text_area :postal_code %>
      </td>
     </tr>

    <tr>
      <td>
        住所
      </td>
      <td>
       <%=  customer.text_area :address %>
      </td>
    </tr>

    <tr>
     <td>
      電話番号
     </td>
     <td>
      <%= customer.text_area :phone_number %>
     </td>
    </tr>

    <tr>
     <td>
      メールアドレス
     </td>
     <td>
      <%= customer.text_area :email %>
     </td>
    </tr>
  </table>

  <%= customer.submit '編集内容を保存' %>

<% end %>