<h1>Admin::Items#index</h1>
<p>Find me in app/views/admin/items/index.html.erb</p>
<div class="col-md-8 offset-md-1">
<h2 class="text-right"><%= link_to "+", new_admin_item_path %></h2>
<b>商品一覧</b>
<p id="notice"></p>
<%#table class="table thead-class"%>
  <table class="table table-bordered">
    <tbody>
      <tr class="table-secondary"><th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>

      </tr>

      <% @items.each do |item| %>

      <tr>
      <td><%= item.id %></td>

      <td>
        <%= link_to item.name, admin_item_path(item.id) %>
      </td>

      <td><%= item.price.to_s(:delimited) %></td><%#[.to_s(:delimited)]３桁ごとにカンマ表記] %>

      <td><%= item.genre.name %></td>

      <td>
        <% if item.is_stock %><%# is_stockの情報を取得して在庫があるかチェック %>
        <b class="text-success">販売中</b> <%# true(初期値)の時の表示 %>
        <% else %>
        <b class="text-secondary">販売停止中</b> <%# false(売り切れ)の時の表示 %>
        <% end %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
