<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>

<table>
    <thead>
      <tr><b><%= @public.family_name+@public.first_name %>さんの会員詳細</b>
      </tr>
    </thead>
      <tbody>
      <tr>
      <td>会員ID</td><td><%= @public.id %></td>
      </tr>

      <tr>
      <td>氏名</td><td><%= @public.family_name %>  <%= @public.first_name %></td>
      </tr>

      <tr>
      <td>フリガナ</td><td><%= @public.family_name_kana %>  <%= @public.first_name_kana %></td>
      </tr>

      <tr>
      <td>郵便番号</td><td><%= @public.postal_code %></td>
      </tr>

      <tr>
      <td>住所</td><td><%= @public.address %></td>
      </tr>

      <tr>
      <td>電話番号</td><td><%= @public.phone_number %></td>
      </tr>

      <tr>
      <td>メールアドレス</td><td><%= @public.email %></td>
      </tr>

      <tr><td>
        会員ステータス
        </td><td>
        <% if @public.is_deleted %>
        退会
        <% else %>
        有効
        <% end %>
      </td>
      </tr>
    </tbody>
  </table>
  編集する（未実装）
  注文履歴一覧を見る（未実装）