<h2>注文情報入力</h2>
  <h3>支払い方法</h3>
  <%= form_with model: @order do |f| %>
    <%= f.radio_button :method_of_payment, Order.method_of_payments.key(0) %>
    <%= f.label :method_of_payment, Order.method_of_payments_i18n[:credit_card] %>

    <%= f.radio_button :method_of_payment, Order.method_of_payments.key(1) %>
    <%= f.label :method_of_payment, Order.method_of_payments_i18n[:transfer] %>

  <h3>お届け先</h3>
  　<%= f.radio_button :delivery_address, Order.delivery_addresses.key(0) %>
  　<%= f.label :delivery_address, Order.delivery_addresses_i18n[:my_address] %>
    <%= current_public.address %>
  　<br>
  　<%= f.radio_button :delivery_address, Order.delivery_addresses.key(1) %>
  　<%= f.label :delivery_address, Order.delivery_addresses_i18n[:registered_addresses] %>
  　<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
    <br>
    <%= f.radio_button :delivery_address, Order.delivery_addresses.key(2) %>
    <%= f.label :delivery_address, Order.delivery_addresses_i18n[:new_address] %><br>
      郵便番号(ハイフンなし)<%= f.text_field :postal_code %><br>
      住所<%= f.text_field :delivery_address %><br>
      宛名<%= f.text_field :delivery_name %><br>
    <%= f.submit "確認画面へ進む" %>
  <% end %>