<h1>商品一覧</h1>

<div>
  <% @items.each do |item| %>
    <% if item.image.attached? %>
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image, size: "200x200" %>
      <% end %>
    <% else %>
      <%= link_to item_path(item.id) do %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    <% end %>
    <%= item.name %>
    <p>商品価格（税込）<p>
      <%= item.add_tax_price.to_s(:delimited) %> 円
  <% end %>
</div>
  

