<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if public_signed_in? %>   <%# ここから次のelsifの列にいくまでがpublic_userのヘッダー%>
      <li>準備中だよ。ここにpublic_userがログインした時のヘッダーを設定するんだよ。</li>
      <% elsif admin_signed_in? %> <%# この列から下がadmin_user時のヘッダー %>
      <%# if admin_signed_in? %> <%# publicブランチと統合出来たらこの18行目を消去して15~17行目を有効にしよう %>
      <li>商品一覧</li>
      <li><%= link_to "会員一覧", admin_customers_path %></li>
      <li>注文履歴一覧</li>
      <li>ジャンル一覧</li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "LOGO", root_path %></li>
      <li>About</li>
      <li>商品一覧</li>
      <li>新規登録</li>
      <li>ログイン</li>
      <% end %>

    </header>
    <%= yield %>
    </body>
</html>
